.pan-card {
    background: url(../../assets/verification/panCardImage.jpg);
    background-repeat: no-repeat;

}

@media screen and (max-width:1280px) {
    .aadhar-image {
        margin: 4px;
    }

    .aadhar-info {
        font-size: 12px;
    }

    .aadhar-info p {
        margin: 3px 0px;
    }

    .pan-heading1 {
        font-size: 14px;
    }

    .pan-heading {
        font-size: 10px;
    }

    .pan-image {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .pan-no {
        font-size: 13px;
    }

    .pan-qr {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .pan-info {
        font-size: 15px;
    }

    .pan-info p {
        margin: 1px 0px;
    }
}

@media screen and (max-width:1024px) {
    .aadharPan-wrapper {
        margin: 0px;
    }

    .aadhar-card {
        width: 48%;
    }

    .pan-card {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    .aadhar-card {
        width: 70%;
    }

    .aadharPan-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pan-card {
        width: 70%;
        margin: 12px;
    }
}

@media screen and (max-width:600px) {
    .aadhar-card {
        width: 100%;
    }

    .aadharPan-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pan-card {
        width: 100%;
        margin: 12px;
    }
}

@media screen and (max-width:450px) {
    .aadhar-card {
        width: 120%;
    }

    .aadharPan-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pan-card {
        width: 120%;
        margin: 12px;
    }
}